.container {
  background-color: rgb(31, 38, 46);
  color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    'logo nav-menu nav-menu' 5em
    'cont-left cont-mid cont-right' 1fr
    'footer footer footer' 5em /
    0.25fr 1fr 0.25fr;
}

.logo {
  grid-area: logo;
  text-align: center;
  color: #1ba098;
  background-color: #051622b2;
  backdrop-filter: blur(5px);
  border-bottom: 5px solid #051622;
}

.logo h1 {
  transform: translateY(-15%);
}

.nav-menu {
  grid-area: nav-menu;
  background-color: #051622b2;
  backdrop-filter: blur(5px);
  border-bottom: 5px solid #051622;
}

.nav-btn {
  transform: translateY(50%);
}

.cont-left {
  grid-area: cont-left;
}

.cont-mid {
  grid-area: cont-mid;
}

.cont-right {
  grid-area: cont-right;
}

.footer {
  grid-area: footer;
}

.metar {
  grid-area: cont-mid;
  height: 100%;
}

.metar-top {
  width: 100%;
}

.metar-container {
  grid-area: cont-mid;
  display: flex;
  flex-direction: row;
}

.metar-search {
  max-width: 20em;
  min-width: 20em;
  margin-right: 1em;
}

.metar-search form {
  padding-top: 0.1em;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.metar-display {
  margin-left: 1em;
  margin-right: 1em;
  width: 75%;
  min-width: none;
}

.metar-display h1 {
  margin-top: 0.1em;
}

.metar-display h3 {
  margin-bottom: 0;
}

.metar-unit h3 {
  margin: 1% 0% 0% 0%;
}

.metar-searchbox ul {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding-left: 0;
}

.metar-display p {
  margin-bottom: 1em;
  margin-top: 1em;
}
